.item-quantity {
  display: flex;
  margin: 0 20px;
  font-family: helvetica, arial, sans-serif;
}

.item-quantity__icon {
  background: #fff;
  border-radius: 64px;
  height: 64px;
  width: 64px;
}

.item-quantity__plusminus {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 3px;
  position: relative;
  user-select: none;
}

.item-quantity__count {
  color: #fff;
  font-size: 2rem;
  margin-top: -4px;
  text-align: center;
  width: 40px;
}

.item-quantity__plus, .item-quantity__minus {
  border-radius: 20px;
  color: #09919b;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  margin: -4px auto;
  text-align: center;
  width: 20px;
}
