.recalculate-button {
  background: #4776c1;
  border: none;
  border-radius: 20px;
  color: #eee;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
}

.recalculate-button:hover {
  color: #222;
}
