@import url('../../../public/fonts/fonts.css');

body {
  margin: 0;
  background: #eee;
}

.app-header-bar {
  display: flex;
  margin: 0;
}

.app-header-bar:first-of-type {
  background: #222;
}

.app-header-bar h1 {
  font-family: 'Fake Receipt';
  font-weight: normal;
  color: #fff;
  margin: 10px auto;
}

.app-input {
  background: #333;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: center;
}
